.proposal
    overflow: hidden
    margin-top: 250px
    padding-top: 150px
    min-height: 750px
    position: relative
    &_ith
        position: relative
        margin-top: 0
    &__wrapper
        .proposal__box
            display: flex
            justify-content: space-around
            .proposal__image
                border-radius: 50%
                width: 463.6px
                height: 463.3px
                overflow: hidden
                &_ith
                    order: 2
            .proposal__descr
                width: 565px
                &_ith
                    order: 1
                .proposal__header
                    font-family: GrandHotel
                    font-size: 100.5px
                    color: #ffc200
                .proposal__subscr
                    font-family: Montserrat
                    font-size: 25px
                    color: #fff
                    margin-bottom: 73px

.bg1
    position: absolute
    transform: scale(-1.1, 1)
    z-index: -1
    top: 1px
    &_ith
        transform: translateY(-100%) scale(-1.1, 1)
        top: 100%
